@charset "UTF-8";

/* theme color */
$theme-blue: #5A8DEE;
$theme-red: #CD594B;
$theme-yellow: #F8CE5E;
$theme-green: #4B9E65;
$theme-dark-green: #027A79;
$theme-gray: #F5F5F5;
$theme-white: #fff;
$theme-pink: #FD6697;

/* 账本主题色 */
$theme-bookkeeping-red: #f1523a;
$theme-bookkeeping-green: #14ba89;
$theme-bookkeeping-gray: #aaaaaa;
