<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.px.customer.mapper.PxArticleMapper">

    <!--新增留言-->
    <insert id="addMessage" parameterType="map">
        INSERT INTO px_leave_message ( create_time, article_id, content, author_name, author_mailbox, author_header, message_board )
        VALUES
            ( now(), #{articleId}, #{content}, #{authorName}, #{authorMailbox}, #{authorHeader}, #{messageBoard} )
    </insert>

    <!--更新访客表-->
    <insert id="insertVisits" parameterType="string">
        insert into px_visits (article_id, create_time) values (#{articleId}, now())
    </insert>

    <!--更新访问次数-->
    <update id="updateVisits" parameterType="string">
        update px_article set visits = visits + 1 where id = #{articleId}
    </update>

    <!--获取文章列表-->
    <select id="getArticleList" resultType="map" parameterType="map">
        SELECT
            a.id,
            a.version,
            a.create_by createBy,
            nick_name nickName,
            a.create_time createTime,
            title,
            content,
            rich_text richText,
            type typeCode,
            dict_label typeName,
            (SELECT count(*) from px_leave_message where article_id = a.id) leaveMessageNumber
        FROM
        px_article a left join sys_user u on a.create_by = u.user_id
        left join sys_dict_data d on d.dict_value = a.type and d.dict_type = 'px_article_type'
            where 1 = 1
        <if test="type != '' and type != null">
            and type = #{type}
        </if>
        <if test="articleId != '' and articleId != null">
            and a.id = #{articleId}
        </if>
        order by a.create_time desc
    </select>

    <!--获取文章分类分组数据-->
    <select id="getArticleTypeNumber" resultType="map">
        SELECT
            d.dict_value code,
            d.dict_label name,
            count( * ) number
            from px_article a
                LEFT JOIN sys_dict_data d ON a.type = d.dict_value
                AND d.dict_type = 'px_article_type'
        <if test="createBy != '' and createBy != null">
            where a.create_by = #{createBy}
        </if>
        GROUP BY
            d.dict_label,
            d.dict_value
    </select>

    <!--根据id获取文章留言列表数据-->
    <select id="getLeaveMessageByArticleId" resultType="java.util.Map">
        select
            id,
            article_id articleId,
            author_header authorHeader,
            author_mailbox authorMailbox,
            author_name authorName,
            content,
            create_time createTime
        from px_leave_message where 1 = 1
        <if test="articleId != '' and articleId != null">
            and article_id = #{articleId}
        </if>
        <if test="messageBoard != '' and messageBoard != null">
            and message_board = #{messageBoard}
        </if>
    </select>

    <!--根据字典项type获取列表-->
    <select id="getArticleTypeList" resultType="java.util.Map">
        SELECT
            dict_value dictValue,
            dict_label dictLabel
        FROM
            sys_dict_data
        WHERE
            dict_type = #{dictType}
    </select>

    <!--获取最热文章-->
    <select id="getHotArticle" resultType="map">
        SELECT
            a.id,
            title,
            (select count(*) from px_visits where article_id = a.id) visitsNumber
        FROM
            px_article a
        ORDER BY visitsNumber desc
        limit 5
    </select>
</mapper>
