<div
  style="border-radius: 10px 10px 10px 10px;font-size:13px;    color: #555555;width: 666px;font-family:'Century Gothic','Trebuchet MS','Hiragino Sans GB',微软雅黑,'Microsoft Yahei',Tahoma,Helvetica,Arial,'SimSun',sans-serif;margin:50px auto;border:1px solid #eee;max-width:100%;background: #ffffff repeating-linear-gradient(-45deg,#fff,#fff 1.125rem,transparent 1.125rem,transparent 2.25rem);box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);">
  <div
    style="width:100%;background:#49BDAD;color:#ffffff;border-radius: 10px 10px 0 0;background-image: -moz-linear-gradient(0deg, rgb(67, 198, 184), rgb(255, 209, 244));background-image: -webkit-linear-gradient(0deg, rgb(67, 198, 184), rgb(255, 209, 244));height: 66px;">
    <p
      style="text-align: center;font-size:15px;word-break:break-all;padding: 23px 32px;margin:0;background-color: hsla(0,0%,100%,.4);border-radius: 10px 10px 0 0;">
      <a style="text-decoration:none;color: #ffffff;" href="https://pnkx.top"
         rel="noopener" target="_blank">
        Pei你看雪博客
      </a>
      用户注册
    </p>
  </div>
  <div style="margin:40px auto;width:90%">
    <p>亲爱的template-userName用户：</p>
    <div
      style="background: #fafafa repeating-linear-gradient(-45deg,#fff,#fff 1.125rem,transparent 1.125rem,transparent 2.25rem);box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);margin:20px 0px;padding:15px;border-radius:5px;font-size:14px;color:#555555;">
      <p>
        非常遗憾您忘记了密码，但是没有关系,请点击下方按钮完成密码重置。
      </p>
      <p style="margin: 2rem 0;">
        <a style="border-radius: 0.2rem; background-color:#12addb55;color:#ffffff;padding: 0.5rem 1rem;"
           href="template-url">重置密码</a>
      </p>
      <p>
        欢迎再次光临
        <a style="text-decoration:none; color:#12addb" href="https://pnkx.top/"
           rel="noopener" target="_blank">
          Pei你看雪博客
        </a>
        。
      </p>
      <p style='color:#5A8DEE;'>
        欢迎关注公众号
      </p>
      <p>
        <img style='width:340px;height:120px; border-radius: 0.5rem'
             src="https://ftp.pnkx.top:8/ftp/pnkx/images/wechat.jpg"/>
      </p>
      <p style='color:#bbb;'>
        回复邮件TD退订
      </p>
    </div>
  </div>
</div>
